.clearfix:after {
  content:"";
  display: block;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smootning: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  width: 1060px;
 
}

.logo, .contacts {
  display: inline-block;
}

.contacts__phone {
  font-weight: bold;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}

.contacts__desc {
  color: rgba(255, 255, 255, .7);
  font-size: 14px;
  font-weight: bold;
}

.header {
  background: #2b2b2b; 
  position: relative;
}

.header__right, .header__left {
  float: left;
  width: 50%;
}

.header__right {
  text-align: right;
  margin-top: 14px;
  margin-bottom: 14px;
}

.header__left {
  margin-top: 8px;
}

.content {
  float: left;
  width: 880px;
}

.breadcrumbs {
  margin-top: 24px;
  margin-bottom: 24px;
}

.breadcrumbs__item {
  display: inline-block;
  vertical-align: middle;
}

.breadcrumbs__item:after {
  content: "/";
  display: inline-block;
  color: #221f1f;
  opacity: 0.3;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs_item-link {
  font-size: 14px;
  font-weight:  300;
  font-style: normal;
  color: #E13700;
  
}

.breadcrumbs__item-link_active {
  color: #221f1f;
  opacity: 0.3;
  text-decoration: none;
 
}

.desc__image {
  width: 880px;
  height: 354px;
  background: url('../img/decor/mountains.jpg');
  background-repeat: no-repeat;
  position: relative;
}

.desc__text {
  top: 60px;
  left: 60px;
  max-width: 650px;
  position: absolute;
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}

.reviews__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.reviews__text {
  display: inline-block;
  width: 800px;
}

.reviews__list {
  list-style: none;
}

.reviews__item {
  border-bottom: 1px solid black;
}

.nav {
  float: left;
  width: 180px;
}