<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">    <title>Mainpage</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="container clearfix">
                <div class="header__left">
                    <a href="#" class="logo">
                        <img src="./img/logo/logo.png" alt="company logo" class="logo__img">
                    </a>
                </div>
               <div class="header__right">
                    <div class="contacts">
                        <a href="tel:88005553535" class="contacts__phone">8 800 555-3535</a>
                        <div class="contacts__desc">24/7 Online</div>
                    </div>
               </div>
            </div>
        </div>
       <div class="maincontent">
           <div class="container clearfix">
            <div class="content">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                         <a href="#" class="breadcrumbs_item-link">Main</a>
                     </li>
                     <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs_item-link">List</a>
                    </li>
                    <li class="breadcrumbs__item">
                         <a href="#" class="breadcrumbs_item-link breadcrumbs__item-link_active">Roads</a>
                     </li>
                </ul>
                <div class="desc">
                     <div class="desc__image">
                        <div class="desc__text">"Mountains" road</div>
                     </div> 
                 </div>
 
                 <div class="reviews">
                     <h1 class="title">Testimonials</h1>
                     <ul class="reviews__list">
                         <li class="reviews__item">
                             <div class="reviews__avatar">
                                 <img src="./img/content/alex.png" alt="" class="reviews__avatar-pic">
                             </div>
                             <div class="reviews__text">
                                 <div class="reviews__data">12.10.2021</div>
                                 <div class="reviews__name">Alex Petrov</div>
                                 <div class="reviews__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                 </div>
                             </div>
                         </li>
                         <li class="reviews__item">
                             <div class="reviews__avatar">
                                 <img src="./img/content/alex.png" alt="" class="reviews__avatar-pic">
                             </div>
                             <div class="reviews__text">
                                 <div class="reviews__data">12.10.2021</div>
                                 <div class="reviews__name">Alex Petrov</div>
                                 <div class="reviews__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                 </div>
                             </div>
                         </li>
                         <li class="reviews__item">
                             <div class="reviews__avatar">
                                 <img src="./img/content/alex.png" alt="" class="reviews__avatar-pic">
                             </div>
                             <div class="reviews__text">
                                 <div class="reviews__data">12.10.2021</div>
                                 <div class="reviews__name">Alex Petrov</div>
                                 <div class="reviews__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                 </div>
                             </div>
                         </li> 
                     </ul>
                 </div>
 
            </div>
            <div class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <div class="nav__icon"></div>
                            <div class="nav__text">Main</div>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <div class="nav__icon"></div>
                            <div class="nav__text">Roads</div>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <div class="nav__icon"></div>
                            <div class="nav__text">About us</div>
                        </a>
                    </li>
                </ul>
            </div>
           </div>
           
       </div>
    </div>
</body>
</html>