<!DOCTYPE html>
<html lang="en">
    
    <head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <div class="one two">1</div> <!-- классов может быть много -->
    <span id="onlyont">2</span> <!-- id только один для блока -->

<div>
    <a href="google.com" target="_blank" title="go google">
        Google
    </a>

    <a href="google.com" download="file-name" title="go google">File</a>
    
    <a href="#paragraph">Paragraph</a> <!-- якорь -->

    <img src="/img/1.png" alt="absolute path"> <!-- best solution -->
    <img src="../img/inner/1.png" alt="relativity path">
</div> 

<hr>
<table border="1">
    <thead>
        <tr>
            <td>#</td> <!-- table cell -->
            <td>Name</td>
            <td>Class</td>
        </tr> <!-- table row -->
    </thead>
    <tbody>
        <tr>
            <td>1</td> <!-- table cell -->
            <td>Mike</td>
            <td>123</td></tr> 
        <tr>
            <td>2</td> <!-- table cell -->
            <td>Olivia</td>
            <td>123</td>
        </tr>
        <tr>
            <td colspan="2">3</td> <!-- table cell -->
            <td> &lt;td&gt; Olivia</td>
        </tr>
        <tr>
            <td colspan="2"rowspan="2">2</td> <!-- table cell -->
            <td>Olivia</td>
        </tr>
    </tbody>    
</table>

    <form action="" method="get">
        <input type="submit" value="send">
        <input button="submit">Send

        <button type="reset">Clean form</button>

        <!-- <fieldset disabled> -->
            <input type="email" required>
            <input type="text" name="username" required placeholder="123">
        <!-- </fieldset>  -->
        
        <label for="name">Input name</label>
        <input type="text" id="name">

        <input type="text" disabled>
        <textarea name="" id=""></textarea>
        <hr>

        <h3>Interests</h3>
        <input type="checkbox" name="" id="" checked> Music
        <input type="checkbox" name="" id="cinema">
        <label for="cinema">
            Cinema
        </label> 
        <input type="checkbox" name="" id=""> Sport

        <h3>Payment</h3>
        <input type="radio" name="payment" id=""> Visa
        <input type="radio" name="payment" id=""> Mastercard

        <h3>Your sex</h3>
        <select name="" id="">
            <option value="">Don't know yet</option>
            <option value="">Male</option>
            <option value="">Female</option>
        </select>

        <h3>Your pet</h3>
        <select name="" id="" multiple>
            <option value="">Dog</option>
            <option value="">Cat</option>
            <option value="">Other</option>
        </select>

        <h3>Upload image</h3>
        <input type="file" name="" id="">

        <h3>Diapason</h3>
        <input type="range">
        <input type="password">

    </form>

    <hr>
    <h1>Hi</h1>
    <h2>,</h2>
    <h3>how</h3>
    
    <p>
        Наше <b>вам</b> с кисточкой браток братишка
    </p>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quaerat facere, iste temporibus eaque voluptatibus quibusdam accusantium consequatur beatae odio ut vitae laborum atque aspernatur voluptate itaque deserunt dolore fugit.
    Nemo dolor provident distinctio doloribus illum aliquam explicabo aperiam sit in exercitationem quaerat culpa praesentium repellendus aliquid recusandae minima incidunt eos, eaque rerum, eveniet laboriosam iste? Incidunt repudiandae eveniet temporibus?
    Tempore nesciunt esse voluptatibus velit neque vero reprehenderit eligendi dolores laboriosam totam, dolorum voluptate! Quos possimus dolor quibusdam quidem labore. Consectetur fugiat odit temporibus inventore explicabo ducimus veritatis veniam architecto.
    Commodi aut harum soluta omnis quos. Voluptatum asperiores, iste itaque quis doloribus eius voluptas, rerum quod saepe minus aliquam minima. Suscipit magnam iure illum libero possimus neque nihil sed maiores.
    Eaque incidunt reiciendis optio earum molestias est. Repellendus explicabo, sint atque natus sed excepturi voluptas quam praesentium iste incidunt expedita quod asperiores modi quia reprehenderit! Rerum ipsa quidem fugiat at!
    Molestiae repudiandae, placeat at magni dicta nostrum debitis deleniti dolorem aliquam quaerat et ut porro animi ex quisquam quo saepe totam rerum obcaecati non, beatae modi minus corporis? Ipsam, voluptates.
    Illum repellendus dicta ab? Aliquam rem vero magnam blanditiis suscipit adipisci expedita vitae quia quae excepturi architecto ipsum optio ratione aperiam corrupti incidunt, odio explicabo quos aspernatur totam officiis? Qui?
    Fugiat, nostrum aperiam temporibus, ipsam animi cum numquam exercitationem tempore magni beatae similique alias id qui consequuntur. Ratione deleniti ut facilis est dolores, consectetur debitis magnam assumenda tempora veritatis quibusdam.
    Cupiditate aliquam labore nesciunt optio dolorum officiis assumenda accusantium dolorem sit quod. Ratione ad laudantium corporis architecto temporibus consequuntur id a vero consectetur velit molestiae officiis, sequi blanditiis eos in.
    Voluptatibus, molestiae. Ullam voluptas laudantium quam! Perspiciatis omnis vitae repellat vero est obcaecati sapiente aliquid totam deleniti alias quos ipsum, neque assumenda consequuntur quo? Tempore odit a maiores expedita adipisci?
    
    <p id = "paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos neque voluptatem tempora autem ipsa natus illum corrupti dolor sit. Est a repellat eaque tempora ipsa cum incidunt, quidem minima mollitia?
        Officia neque dolorum enim minima ullam, corporis assumenda quibusdam? Est illo minima laboriosam expedita, sed placeat doloribus odio incidunt modi tenetur possimus cum quod blanditiis tempora porro repudiandae hic vitae.
        Exercitationem libero unde, nam consectetur repellat, in quibusdam eius architecto corrupti vel quisquam quae earum, ad aperiam obcaecati illum! Ipsam praesentium hic dolorum modi? Doloremque quisquam vero aperiam voluptates enim?
        Autem eaque, itaque reprehenderit iure quos nisi numquam eum debitis culpa vel quis voluptate magni sapiente assumenda, eius accusamus aspernatur quo animi illum. Corrupti, inventore. Quis hic sed laboriosam ullam.
        Excepturi provident quod illum? Illo numquam aut animi aliquid. Odit quia aliquam dolorum eos sed explicabo cupiditate ex neque. Dolor excepturi unde labore velit eligendi nobis maxime placeat voluptatibus quaerat!
        Magni alias quo omnis. A, hic cupiditate. Ipsa harum commodi iusto at, unde quisquam corrupti odit nesciunt, alias tempore rem inventore soluta expedita libero neque? Explicabo, ex? Odio, laudantium? Voluptate.
        Neque labore inventore non ipsum dolorem nisi perferendis reprehenderit illum nemo aperiam nostrum, sint mollitia, rerum praesentium accusantium cumque dolores. Saepe distinctio ut eos consequuntur. Natus, provident. Dignissimos, non aliquam?
        Consequuntur deleniti beatae perferendis nam iste culpa asperiores aperiam repellendus voluptatibus quo quos, nesciunt, voluptatem, harum inventore unde? Eos praesentium nam quidem repellat impedit voluptatum, magni dolores ducimus tempora cum.
        Illum mollitia reprehenderit tenetur sit quaerat commodi vel itaque voluptatum non officiis sapiente cum quo qui, quam repudiandae error sint, vitae exercitationem nisi id totam aliquid sed expedita. Consectetur, saepe.
        Optio, quas? Voluptas vero, magni consequuntur voluptatum, tenetur doloribus ratione atque porro quos accusamus officia in saepe molestiae quo labore veniam rem libero accusantium ea vitae quod voluptate nihil! Repellat!
    </p>
</body>
</html>