<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mainpage</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="container">
                <a href="#" class="logo">
                    <img src="./img/logo/logo.png" alt="company logo" class="logo__img">
                </a>
                <div class="contacts">
                    <a href="tel:88005553535" class="contacts__phone">8 800 555-3535</a>
                    <div class="contacts__desc">24/7 Online</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>