<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            
            <form action="">
            
                <div class="form">
                    <div class="form__inner">
                        <h3 class="form__title">Any questions?</h3>
                        <div class="form__content">
                            <div class="form__row">
                                <div class="form__input-elem">
                                    <label class="form__field-title">Your name</label>
                                    <input type="text" name="" class="form__input">
                                </div>
                                <div class="form__input-elem">
                                    <label class="form__field-title">Email</label>
                                    <input type="email" name="" class="form__input">
                                </div>
                            </div>
                            <div class="form__row">
                                <div class="form__field-title">Text</div>
                                <textarea name="" class="form__big-text"></textarea>
                            </div>
                            <div class="form__row">
                                <div class="form__controls">
                                    <div class="form__controls-title">View photo profile in question</div>
                                        <div class="form__controls-buttons">
                                        <div class="form__controls-trigger">
                                            <input type="radio" name="photo" class="form__radio">
                                            <div class="form__trigger-title">Yes</div>
                                        </div>
                                        <div class="form__controls-trigger">
                                            <input type="radio" name="photo" class="form__radio">
                                            <div class="form__trigger-title">No</div>
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <div class="form__send-buttons">
                                <button class="form__button form__button_reset">Clear</button>
                                <button class="form__button form__button_send">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </form>

        </div>
    </div>
</body>
</html>